/* brends */
body {
  color: #3E3E3E;
  font-weight: 300;
  font-size: 16px;
}

.container {
  max-width: 1880px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-title{
  padding-bottom: 20px;
  font-size: 84px;
  font-weight: 300;
  border-bottom: 1px solid #d4d4d4;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 7px 20px;
  width: 80%;
  max-width: 1140px;
}
.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}
.search-button{
  border: none;
  background: transparent;
  cursor: pointer;
}
.brends__header-wrapp {
  position: sticky;
  top: 0;
  height: fit-content;
  background-color: #fff;
  border-bottom: 1px solid transparent; /* Изначально прозрачный бордер */
  transition: border-color 0.3s ease; /* Плавный переход */
}

.brends__header-wrapp.is-sticky {
  border-bottom: 1px solid #d4d4d4; /* Бордер появляется при прилипании */
}
.brends__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 2.5rem 0;
}
.brends__header .search-container{
  width: 50%;
}
.brands-container{
  margin-top: 20px;
}
.alphabet-nav {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.alphabet-item {
  text-decoration: none;
  color: var(--color-txt);
  font-size: 14px;
  padding: 4px;
}

.alphabet-item:hover {
  color:var(--main-red);
  text-decoration: underline;
}

.brands-section {
  margin-bottom: 40px;
  transition: opacity 0.3s ease;
}

.letter-heading {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #333;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.brands-column {
  min-width: 0;
}

.brand-item {
  font-size: 16px;
  color: #333;
  padding: 10px 0;
  /* transition: color 0.3s ease; */
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.brand-item:hover {
  color: var(--main-red);
}

.no-results{
  color: red;
  font-size: 20px;
}

@media (max-width: 1300px){
  .brands-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .brends__header{
    flex-wrap: wrap;
    padding: 0;
  }
  .brends__header .search-container, 
  .search-container,
  .alphabet-nav {
    width: 100%;
  }
}

@media (max-width: 1300px){
  .brands-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .brends__header{
    flex-wrap: wrap;
    padding: 0;
  }
  .brends__header .search-container, 
  .search-container,
  .alphabet-nav {
    width: 100%;
  }
}